.categoria {
    text-decoration: overline rgb(163, 163, 163);
    color: black;
    font-size: large;
}

.categoriaBottom {
    text-decoration: underline rgb(163, 163, 163);
    color: black;
}

.card-title {
    font-weight: 900;
    font-size: xx-large;
}

.card-text {
    font-weight: 500;
    font-size: large;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-img-top {
    min-height: 405px;
}

@media (max-width: 440px) {
    .card-img-top {
        min-height: 225px;
    }
}