@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agdasima&display=swap');

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-color: #e9ecef;
    font-family: 'Agdasima', sans-serif;
}

.navbar-brand{
    font-family: 'Playfair Display', serif;
    font-weight: 900;
}

.offcanvas-title{
    font-family: 'Playfair Display', serif;
}

#app{
    min-height: 100vh;
}

.link{
    text-decoration: none;
    color: black;
}

.form-check-input:checked{
    background-color: black;
    border-color: black;
}
@media only screen and (min-width: 990px) {
    .social-media{
        display: none !important;
    }
}