.item-car {
    position: fixed;
    top: 650px;
    right: 20px;
    background-color: black;
    opacity: 0.5;
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.item-car:hover {
    opacity: 1.0;
}

@media(max-width: 440px) {
    .item-car {
        top: 550px;
        opacity: 0.7;
    }
}