@media (min-width: 765px) {
    .container-single {
        display: flex;
        justify-content: center;
        height: 82vh !important;
    }

    .container-foto {
        max-height: 600px;
        min-width: 600px;
        display: flex;
        flex-direction: row;
    }

    .foto-single{
        max-height: 600px;
        max-width: 400px;
    }

    .caption-single{
    width: 100%;
    display: block !important;
    }
    
    .button-single{
        align-items: end;
    }
    
    .button-single > button{
        width: 200px;
    }
}